{% extends 'base.html' %}

{% block content %}

     
    <h1>Profile page</h1>
    

    <a class="btn btn-primary" href="{% url 'edit' %}">Change profile info</a>

  

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for d in data.car.all %}
      
            <div class="col">
              <div class="card">
                <img src="{{ d.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{d.title}}</h5>
                  <p class="card-text">{{d.desc  }}</p>
    
                  <h3> Price : {{d.price}} Taka</h3>
                  <h1><button class="btn btn-primary"> Brand : {{d.brand.BrandName}}</button></h1>
                  
             <a href="{% url 'detail' d.id %}"><button class="btn btn-warning">Details</button></a>     
                </div>
              </div>
            </div>
    
        {% endfor %}
    </div>




{% endblock %}